.training-containerF{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100% !important;
    height: 550px;

    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px; /*Esto es para que haya un margen con el header que ya esta ajustado y fijo*/
}