.Proyecto-container{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;

}

.imagen-proyecto-container {
    height: 90%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-proyecto{
    height: 90%;
    width: 90%;
}

.info-proyecto{
    height: 80%;
    width: 40%;
}

.textos-proyecto{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70%;
    padding-right: 100px;
    text-align: center;
}

.titulo-proyecto{
    font-size: 30px;
    margin-bottom: 10px;
}

.descripcion-proyecto{
    margin-top: 0px;
    font-size: 15px;
    margin-bottom: 10px;
}

.imgTecnologia-container{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imagen-tec{
    margin: 2px;
    height: 70%;
    width: 50px;
    margin: 5px;
}

.imagen-tec:hover{
    transform: scale(1.1);
}

.botones-proyecto{
    padding-right: 200px;
    padding-left: 50px;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.MuiButton-root{
    position: static;
}

.prueba{
    position: static;
}

.botones-proyecto{
    position: static;
}
@media (max-width: 768px) {
    /* Estilos a aplicar cuando el ancho de la pantalla es igual o menor a 768px */
    .Proyecto-container {
        background-color: white;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        height: 350px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .imagen-proyecto-container{
        padding: 0px;
        margin: 0px;
        display: flex;
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }

    .imagen-proyecto{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
    }

    .info-proyecto{
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 50%;
        width: 100%;
    }

    .textos-proyecto{
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 75%;
        width: 90%;
    }

    .titulo-proyecto{
        margin: 0px;
        padding: 0px;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 25px;
    }

    .descripcion-proyecto{
        margin: 0px;
        padding: 0px;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .imgTecnologia-container{
        width: 90%;
        height: 35%;
    }

    .imagen-tec{
        height: 26px;
        width: 30px;
    }

    .botones-proyecto{
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
        width: 75%;
        height: 25%;
    }
    .MuiButton-root{
        position: static;
    }
  }